<!DOCTYPE html>

<head>

	<!-- Basic Page Needs
================================================== -->
	<meta charset="utf-8">
	<title>Translation Study</title>


	<!-- SEO Meta description -->
	<meta name="description" content="Site officiel de translation study">
	<meta name="author" content="Translation Study">

	<!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
	<meta property="og:site_name" content="translation study" /> <!-- website name -->
	<meta property="og:site" content="#" /> <!-- website link -->
	<meta property="og:title" content="site de renseignement de Translation study Togo" />
	<!-- title shown in the actual shared post -->
	<meta property="og:description" content="Translation Study" /> <!-- description shown in the actual shared post -->
	<meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
	<meta property="og:url" content="#" /> <!-- where do you want your post to link to -->
	<meta property="og:type" content="article" />

	<!-- Mobile Specific Metas
================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
================================================== -->
	<link rel="stylesheet" href="/static/assets/css/style.css">
	<link rel="stylesheet" href="/static/assets/css/colors/green.css" id="colors">

	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

	<script>
		(function (i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r] || function () {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date();
			a = s.createElement(o),
				m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a, m)
		})(window, document, 'script', '../../../www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-84232134-1', 'auto');
		ga('send', 'pageview');
	</script>

</head>

<body>

	<!-- Page Loader -->
	<div id="loader-wrapper">
		<div id="loader"></div>
	</div>

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header
================================================== -->
		<div id="main-header">
			<div class="container">

				<div class="row">
					<div class="header">

						<div class="col-md-2 col-sm-12">
							<div id="logo" class="margin-top-25">
								<a href="/"><img src="/static/assets/images/logo.png" alt=""></a><br>
							</div>
						</div>

						<!-- Search Form -->
						<div class="search-container">
							<form action="#" method="get">
								<input type="text" name="s" id="s"
									onblur="if(this.value=='')this.value='Pour faire une recherche, Saisissez le mot et appuyez sur entrer';"
									onfocus="if(this.value=='Pour faire une recherche, Saisissez le mot et appuyez sur entrer')this.value='';"
									value="Pour faire une recherche, Saisissez le mot et appuyez sur entrer" />
							</form>
							<div class="close-search"><a class="sl sl-icon-close" href="#"></a></div>
						</div>

						<div class="col-md-10 col-sm-12">

							<!-- Mobile Navigation -->
							<div class="menu-responsive">
								<i class="fa fa-reorder menu-trigger"></i>
								<i class="fa fa-search search-trigger"></i>
								<form action="#" method="get" class="responsive-search">
									<input type="text"
										onblur="if(this.value=='')this.value='Pour faire une recherche, Saisissez le mot et appuyez sur entrer';"
										onfocus="if(this.value=='Pour faire une recherche, Saisissez le mot et appuyez sur entrer')this.value='';"
										value="Pour faire une recherche, Saisissez le mot et appuyez sur entrer" />
								</form>
							</div>

							<!-- Main Navigation -->
							<nav id="navigation">

								<ul class="menu alt2" id="responsive">

									<li class="dropdown">
										<a href="/" class="current">Acceuil</a>
									</li>

									<li>
										<a href="#">A propos</a>
									</li>

									<li>
										<a href="#">Nos Services</a>
									</li>

									<li>
										<a href="#">Blog</a>
									</li>

									<li><a href="#">Contact</a></li>


									<!-- Search Icon-->
									<li class="search"><a href="#"><i class="sl sl-icon-magnifier"></i></a></li>


								</ul>
							</nav>

						</div>
						<div class="clearfix"></div>
					</div>
				</div>

			</div>
		</div>


		<!-- Slider
================================================== -->

		<!-- Revolution Slider -->
		<div id="rev_slider_4_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container"
			data-alias="classicslider1"
			style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">

			<!-- 5.0.7 auto mode -->
			<div id="rev_slider_4_1" class="rev_slider home fullwidthabanner" style="display:none;"
				data-version="5.0.7">
				<ul>

					<!-- Slide  -->
					<li data-index="rs-1" data-transition="fade" data-slotamount="default"
						data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1000"
						data-rotate="0" data-fstransition="fade" data-fsmasterspeed="800" data-fsslotamount="7"
						data-saveperformance="off">

						<!-- Background -->
						<img src="/static/assets/images/slide-corporate-01.jpg" alt="" data-bgposition="center center"
							data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg"
							data-no-retina data-kenburns="on" data-duration="12000" data-ease="Linear.easeNone"
							data-scalestart="100" data-scaleend="100" data-rotatestart="0" data-rotateend="0"
							data-offsetstart="0 0" data-offsetend="0 0">

						<!-- Caption-->
						<div class="tp-caption custom-caption-2 tp-shape tp-shapewrapper tp-resizeme rs-parallaxlevel-0"
							id="slide-1-layer-2" data-x="['left','left','left','left']" data-hoffset="['0']"
							data-y="['middle','middle','middle','middle']" data-voffset="['30']"
							data-width="['640','640', 640','420','320']" data-height="auto" data-whitespace="nowrap"
							data-transform_idle="o:1;"
							data-transform_in="y:0;opacity:0;s:1000;e:Power2.easeOutExpo;s:400;e:Power2.easeOutExpo"
							data-transform_out="" data-mask_in="x:0px;y:[20%];s:inherit;e:inherit;"
							data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1000"
							data-responsive_offset="on">

							<!-- Caption Content -->
							<div class="R_title margin-bottom-15" id="slide-2-layer-1"
								data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']"
								data-y="['middle','middle','middle','middle']" data-voffset="['-40','-40','-20','-80']"
								data-fontsize="['52','46', '42','36','22']" data-lineheight="['78','68','70','55','35']"
								data-width="['640','640', 640','420','320']" data-height="none" data-whitespace="normal"
								data-transform_idle="o:1;"
								data-transform_in="y:-50px;sX:2;sY:2;opacity:0;s:1000;e:Power4.easeOut;"
								data-transform_out="opacity:0;s:300;" data-start="600" data-splitin="none"
								data-splitout="none" data-basealign="slide" data-responsive_offset="off"
								data-responsive="off"
								style="z-index: 6; color: #fff; letter-spacing: 0px; font-weight: 700; ">Centre de
								Traductologie</div>

							<div class="caption-text">Un lieu où les étudiants des pays africains francophones côtoient
								les étudiants des pays africains anglophones</div>
							<a href="#" class="button medium">Lire Plus</a>
						</div>

					</li>

					<!-- Slide  -->
					<li data-index="rs-2" data-transition="fade" data-slotamount="default"
						data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1000"
						data-rotate="0" data-fstransition="fade" data-fsmasterspeed="800" data-fsslotamount="7"
						data-saveperformance="off">

						<!-- Background -->
						<img src="/static/assets/images/slide-corporate-02.jpg" alt="" data-bgposition="center center"
							data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg"
							data-no-retina data-kenburns="on" data-duration="12000" data-ease="Linear.easeNone"
							data-scalestart="100" data-scaleend="112" data-rotatestart="0" data-rotateend="0"
							data-offsetstart="0 0" data-offsetend="0 0">

						<!-- Caption-->
						<div class="tp-caption centered custom-caption-2 tp-shape tp-shapewrapper tp-resizeme rs-parallaxlevel-0"
							id="slide-2-layer-2" data-x="['center','center','center','center']" data-hoffset="['0']"
							data-y="['middle','middle','middle','middle']" data-voffset="['30']"
							data-width="['640','640', 640','420','320']" data-height="auto" data-whitespace="nowrap"
							data-transform_idle="o:1;"
							data-transform_in="y:0;opacity:0;s:1000;e:Power2.easeOutExpo;s:400;e:Power2.easeOutExpo"
							data-transform_out="" data-mask_in="x:0px;y:[20%];s:inherit;e:inherit;"
							data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1000"
							data-responsive_offset="on">

							<!-- Caption Content -->
							<div class="R_title margin-bottom-15" id="slide-2-layer-3"
								data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								data-y="['middle','middle','middle','middle']" data-voffset="['-40','-40','-20','-80']"
								data-fontsize="['52','46', '42','36','22']" data-lineheight="['78','68','70','55','35']"
								data-width="['640','640', 640','420','320']" data-height="none" data-whitespace="normal"
								data-transform_idle="o:1;"
								data-transform_in="y:-50px;sX:2;sY:2;opacity:0;s:1000;e:Power4.easeOut;"
								data-transform_out="opacity:0;s:300;" data-start="600" data-splitin="none"
								data-splitout="none" data-basealign="slide" data-responsive_offset="off"
								data-responsive="off"
								style="z-index: 6; color: #fff; letter-spacing: 0px; font-weight: 700; ">Center for
								Translation Studies</div>

							<div class="caption-text">A place where students from French-speaking African countries rub
								shoulders with students from English-speaking African countries</div>
							<a href="#" class="button medium">Lire Plus</a>
						</div>

					</li>

				</ul>
				<div class="tp-static-layers"></div>

			</div>
		</div>
		<!-- Revolution Slider / End -->


		<!-- Content
================================================== -->

		<!-- Featured Services -->
		<div class="container">
			<div class="row margin-top-80">

				<div class="col-md-4 col-sm-12">
					<div class="icon-box-3 rounded light">
						<i class="ln ln-icon-Books"></i>
						<h4>Master en Translation Study</h4>
						<p>Pellentesque habitant morbi tristique senectus netus ante et malesuada fames ac turpis
							egestas maximus neque.</p>
					</div>
				</div>

				<div class="col-md-4 col-sm-12">
					<div class="icon-box-3  rounded light">
						<i class="ln ln-icon-Books"></i>
						<h4>Bachelor en Translation Studies</h4>
						<p>Nunc ultricies porttitor est, ut rutrum ante. Vivamus interdum sodales sem. In lorem ipsum
							ultrices augue eget.</p>
					</div>
				</div>

				<div class="col-md-4 col-sm-12">
					<div class="icon-box-3 rounded light">
						<i class="ln  ln-icon-Books"></i>
						<h4>Diploma en Translation Studies</h4>
						<p>Pellentesque habitant morbi tristique senectus netus ante et malesuada fames ac turpis
							egestas maximus.</p>
					</div>
				</div>

			</div>
		</div>
		<!-- Featured Services / End -->



		<!-- Image Edge -->
		<div class="image-edge margin-top-70">

			<div class="image-edge-content">
				<h2>Une formation bien adaptée au besoin du marché</h2>
				<br>
				<p>Les cours sont dispensés par des professionnels qui enseignent leur langue maternelle.
				Il y a la possibilité d'un séjour linguistique dans les pays des langues choisies. 
				L'environnement où coexistent plusieurs langues: les étudiants sont de nationalités diverses.</p>
				<br>
				<a href="#" class="button border medium margin-bottom-40">Lire Plus</a>
			</div>

			<div class="edge-bg" data-background-image="/static/assets/images/service-02a.jpg"></div>

		</div>
		<!-- Image Edge / End -->



		<!-- Image Edge -->
		<div class="image-edge left dark margin-top-0">

			<div class="image-edge-content">
				<h2>Un environnement propre</h2>
				<br>
				<p>La ville de Lomé est bien connue pour son accueil chaleureux des étrangers à la ville La ville de Lomé est un site le site de la première universite du Togo, Université de Lomé.<i class="fab fa-swap-opacity .fad"></i>
				<i class="fab fa-swap-opacity .fad"></i></p>
				<br>
				<a href="#" class="button border medium margin-bottom-40">Lire Plus</a>
			</div>

			<div class="edge-bg" data-background-image="/static/assets/images/service-02c.jpg"></div>

		</div>
		<!-- Image Edge / End -->



		<!-- Logos -->
		<div class="container">

			<!-- Logos -->
			<div class="row margin-top-60">
				<div class="col-md-12">

					<!-- Carousel -->
					<div class="logo-carousel-alt no-dots">
						<div class="item"><img src="/static/assets/images/logo-01.png" alt="" /></div>
						<div class="item"><img src="/static/assets/images/logo-02.png" alt="" /></div>
						<div class="item"><img src="/static/assets/images/logo-03.png" alt="" /></div>
						<div class="item"><img src="/static/assets/images/logo-04.png" alt="" /></div>
						<div class="item"><img src="/static/assets/images/logo-05.png" alt="" /></div>
					</div>

				</div>
			</div>
		</div>
		<!-- Logos / End -->


		<!-- Footer
================================================== -->
		<div class="margin-top-60"></div>

		<div id="footer">
			<!-- Main -->
			<div class="container">
				<div class="row">
					<div class="col-md-5 col-sm-6">
						<h4>A Propos</h4>
						<p>Le Centre de Translation studies est un lieu où les étudiants des pays africains francophones côtoient les étudiants des pays africains anglophones</p>
						<a href="#" class="button social-btn"><i class="fa fa-facebook-official"></i> Aimez-nous sur Facebook</a>
					</div>

					<div class="col-md-4  col-sm-6">
						<h4>Liens Utiles</h4>
						<ul class="footer-links">
							<li><a href="#">About Us</a></li>
							<li><a href="#">Press Releases</a></li>
							<li><a href="#">Careers</a></li>
							<li><a href="#">Services</a></li>
							<li><a href="#">Projects</a></li>
						</ul>

						<ul class="footer-links">
							<li><a href="#">In the News</a></li>
							<li><a href="#">Our Blog</a></li>
							<li><a href="#">Testimonials</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
					</div>

					<div class="col-md-3  col-sm-12">
						<h4>Contact</h4>
						<div class="text-widget">
							<span>Quartier Adidogome, Lome-Togo</span> <br>
							Phone: <span>(123) 123-456 </span><br>
							Fax: <span>(123) 123-456</span> <br>
							E-Mail:<span> <a href="http://www.vasterad.com/cdn-cgi/l/email-protection"
									class="__cf_email__"
									data-cfemail="a9c6cfcfc0cacce9ccd1c8c4d9c5cc87cac6c4"></a>
							</span><br>
						</div>
					</div>

				</div>

				<!-- Copyright -->
				<div class="row">
					<div class="col-md-12">
						<div class="copyrights">© Copyright 2020 by <a href="#">Translation Center</a>. All Rights Reserved.</div>
					</div>
				</div>

			</div>

		</div>

		<!-- Back To Top Button -->
		<div id="backtotop"><a href="#"></a></div>


		<!-- Scripts
================================================== -->
		<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js">
		</script>
		<script type="text/javascript" src="/static/assets/scripts/jquery-2.2.0.min.js"></script>
		<script type="text/javascript" src="/static/assets/scripts/jquery.flexslider-min.js"></script>
		<script type="text/javascript" src="/static/assets/scripts/owl.carousel.min.js"></script>
		<script type="text/javascript" src="/static/assets/scripts/counterup.min.js"></script>
		<script type="text/javascript" src="/static/assets/scripts/waypoints.min.js"></script>
		<script type="text/javascript" src="/static/assets/scripts/jquery.themepunch.tools.min.js"></script>
		<script type="text/javascript" src="/static/assets/scripts/jquery.themepunch.revolution.min.js"></script>
		<script type="text/javascript" src="/static/assets/scripts/jquery.isotope.min.js"></script>
		<script type="text/javascript" src="/static/assets/scripts/jquery.magnific-popup.min.js"></script>
		<script type="text/javascript" src="/static/assets/scripts/jquery.sticky-kit.min.js"></script>
		<script type="text/javascript" src="/static/assets/scripts/jquery.twentytwenty.js"></script>
		<script type="text/javascript" src="/static/assets/scripts/jquery.event.move.js"></script>
		<script type="text/javascript" src="/static/assets/scripts/jquery.photogrid.js"></script>
		<script type="text/javascript" src="/static/assets/scripts/jquery.tooltips.min.js"></script>
		<script type="text/javascript" src="/static/assets/scripts/jquery.pricefilter.js"></script>
		<script type="text/javascript" src="/static/assets/scripts/jquery.stacktable.js"></script>
		<script type="text/javascript" src="/static/assets/scripts/jquery.contact-form.js"></script>
		<script type="text/javascript" src="/static/assets/scripts/jquery.jpanelmenu.js"></script>
		<script type="text/javascript" src="/static/assets/scripts/headroom.min.js"></script>
		<script type="text/javascript" src="/static/assets/scripts/modernizr.custom.js"></script>
		<script type="text/javascript" src="/static/assets/scripts/puregrid.js"></script>
		<script type="text/javascript" src="/static/assets/scripts/flexibility.js"></script>
		<script type="text/javascript" src="/static/assets/scripts/custom.js"></script>



		<!-- REVOLUTION SLIDER SCRIPT -->
		<script type="text/javascript">
			var tpj = jQuery;
			var revapi4;
			tpj(document).ready(function () {
				if (tpj("#rev_slider_4_1").revolution == undefined) {
					revslider_showDoubleJqueryError("#rev_slider_4_1");
				} else {
					revapi4 = tpj("#rev_slider_4_1").show().revolution({
						sliderType: "standard",
						jsFileLocation: "scripts/",
						sliderLayout: "auto",
						dottedOverlay: "none",
						delay: 9000,
						navigation: {
							keyboardNavigation: "off",
							keyboard_direction: "horizontal",
							mouseScrollNavigation: "off",
							onHoverStop: "on",
							touch: {
								touchenabled: "on",
								swipe_threshold: 75,
								swipe_min_touches: 1,
								swipe_direction: "horizontal",
								drag_block_vertical: false
							},
							arrows: {
								style: "zeus",
								enable: true,
								hide_onmobile: true,
								hide_under: 600,
								hide_onleave: true,
								hide_delay: 200,
								hide_delay_mobile: 1200,
								tmp: '<div class="tp-title-wrap"></div>',
								left: {
									h_align: "left",
									v_align: "center",
									h_offset: 00,
									v_offset: 0
								},
								right: {
									h_align: "right",
									v_align: "center",
									h_offset: 00,
									v_offset: 0
								}
							},
							bullets: {
								enable: false,
								hide_onmobile: true,
								hide_under: 600,
								style: "hermes",
								hide_onleave: true,
								hide_delay: 200,
								hide_delay_mobile: 1200,
								direction: "horizontal",
								h_align: "center",
								v_align: "bottom",
								h_offset: 0,
								v_offset: 32,
								space: 5,
								tmp: ''
							}
						},
						viewPort: {
							enable: true,
							outof: "pause",
							visible_area: "80%"
						},
						responsiveLevels: [1900, 1700, 1600, 768, 480],
						visibilityLevels: [1400, 1200, 992, 768, 480],
						gridwidth: [1380, 1380, 1380, 1180, 778, 480],
						gridheight: [780, 750, 620, 800, 800],
						lazyType: "none",
						parallax: {
							type: "mouse",
							origo: "slidercenter",
							speed: 2000,
							levels: [2, 3, 4, 5, 6, 7, 12, 16, 10, 25, 47, 48, 49, 50, 51, 55],
							type: "mouse",
						},
						shadow: 0,
						spinner: "off",
						stopLoop: "off",
						stopAfterLoops: -1,
						stopAtSlide: -1,
						shuffle: "off",
						autoHeight: "off",
						hideThumbsOnMobile: "off",
						hideSliderAtLimit: 0,
						hideCaptionAtLimit: 0,
						hideAllCaptionAtLilmit: 0,
						debugMode: false,
						fallbacks: {
							simplifyAll: "off",
							nextSlideOnWindowFocus: "off",
							disableFocusListener: false,
						}
					});
				}
			}); /*ready*/
		</script>


		<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  
	(Load Extensions only on Local File Systems ! 
	The following part can be removed on Server for On Demand Loading) -->
		<script type="text/javascript" src="/static/assets/scripts/extensions/revolution.extension.actions.min.js">
		</script>
		<script type="text/javascript" src="/static/assets/scripts/extensions/revolution.extension.carousel.min.js">
		</script>
		<script type="text/javascript" src="/static/assets/scripts/extensions/revolution.extension.kenburn.min.js">
		</script>
		<script type="text/javascript"
			src="/static/assets/scripts/extensions/revolution.extension.layeranimation.min.js"></script>
		<script type="text/javascript" src="/static/assets/scripts/extensions/revolution.extension.migration.min.js">
		</script>
		<script type="text/javascript" src="/static/assets/scripts/extensions/revolution.extension.navigation.min.js">
		</script>
		<script type="text/javascript" src="/static/assets/scripts/extensions/revolution.extension.parallax.min.js">
		</script>
		<script type="text/javascript" src="/static/assets/scripts/extensions/revolution.extension.slideanims.min.js">
		</script>
		<script type="text/javascript" src="/static/assets/scripts/extensions/revolution.extension.video.min.js">
		</script>


		<!-- Style Switcher
================================================== -->
		<script src="/static/assets/scripts/switcher.js"></script>

		<div id="style-switcher">
			<h2>Color Switcher <a href="#"><i class="sl sl-icon-settings"></i></a></h2>

			<div>
				<ul class="colors" id="color1">
					<li><a href="#" class="blue" title="Blue"></a></li>
					<li><a href="#" class="green" title="Green"></a></li>
					<li><a href="#" class="orange" title="Orange"></a></li>
					<li><a href="#" class="navy" title="Navy"></a></li>
					<li><a href="#" class="yellow" title="Yellow"></a></li>
					<li><a href="#" class="peach" title="Peach"></a></li>
					<li><a href="#" class="beige" title="Beige"></a></li>
					<li><a href="#" class="purple" title="Purple"></a></li>
					<li><a href="#" class="celadon" title="Celadon"></a></li>
					<li><a href="#" class="pink" title="Pink"></a></li>
					<li><a href="#" class="red" title="Red"></a></li>
					<li><a href="#" class="brown" title="Brown"></a></li>
					<li><a href="#" class="cherry" title="Cherry"></a></li>
					<li><a href="#" class="cyan" title="Cyan"></a></li>
					<li><a href="#" class="gray" title="Gray"></a></li>
					<li><a href="#" class="olive" title="Olive"></a></li>
				</ul>
			</div>

		</div>
		<!-- Style Switcher / End -->


	</div>
	<!-- Wrapper / End -->

</body>

</html>